<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AWS Cognito Demo App</title>
</head>
<body>
<div>
    <div>
        <h1>AWS Cognito Demo App</h1>
        <span>Version-<th:block th:text="${@environment.getProperty('application.client.version')}"></th:block></span>
        <div sec:authorize="isAuthenticated()">
            <div>
                Hello, <strong th:text="${#authentication.getPrincipal().getDisplayName()}"></strong>!
                <br>
                <br>
                <div sec:authorize="hasAuthority('ROLE_USER')">You have user role.</div>
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">You have admin role.</div>

                Authenticated name:
                <div sec:authentication="name"></div>
                Authenticated user's username:
                <div sec:authentication="principal.username"></div>
                Authenticated user's displayName:
                <div sec:authentication="principal.displayName"></div>
                <br>
                Authenticated user roles:
                <div sec:authentication="principal.authorities"></div>
                <br>
            </div>
            <div>
                Here are all the OIDC properties you can use: <div th:text="${#authentication.getPrincipal().getUsername()}"></div>
                <br>
                <br>
                Here is your username: <div th:text="${#authentication.getPrincipal()}"></div>
                <br>
                <br>
            </div>
            <div>
                <table>
                    <tr>
                        <td>My context attribute</td>
                        <!--<td th:text="${connectedUser.displayName}">42</td>-->
                        <td th:text="${#authentication.getPrincipal().getDisplayName()}">42</td>
                    </tr>
<!--                    <tr th:each="attr : ${#servletContext.getAttributeNames()}">
                        <td th:text="${attr}">javax.servlet.context.tempdir</td>
                        <td th:text="${#servletContext.getAttribute(attr)}">/tmp</td>
                    </tr>-->
                </table>
            </div>
            <div>
                <a th:href="@{/logout}"><button>Log out</button></a>
            </div>
        </div>

        <div sec:authorize="isAnonymous()">
            <div>
                <a th:href="@{/oauth2/authorization/cognito}"><button>Log in with Cognito</button></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>