<!DOCTYPE html>
<html lang="fr"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Confirm Log Out?</title>
    <link href="/loginform/default-ui.css" rel="stylesheet">
</head>
<body>
<div class="content">
    <form class="logout-form" method="post" action="/loginform/logout">
        <h2>Are you sure you want to log out?</h2>
        <input name="_csrf" type="hidden" value="vyXe-C3F1K3WafsUmCz4vBPBbqs-tABdPdpSFWCKdRrJDwPa3BG_m0n95Mz7XZ8iqQHM2XelQ8kL1zZwXrlgdwK4RCiqbTrp">
        <button class="primary" type="submit">Log Out</button>
    </form>
</div>

</body>
</html>